/*  CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

/*  clearfix  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

/*  global  */
$orange: rgb(255, 83, 0);
$purple: rgb(171, 62, 152);
$blue: rgb(24, 44, 161);
$light_blue: rgb(23, 111, 255);
$green: rgb(43, 156, 39);
$yellow: rgb(222, 186, 3);
$light_red: rgb(172, 35, 106);

@mixin respond-to($query) {
  @media (max-width: $query) {
    @content
  }
}

@keyframes open {
  0% {
    overflow: hidden;
  }
  100% {
    height: 85vh;
    overflow: visible;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  border: 10px solid white;
  font-family: "Crete Round", serif;
  color: rgb(73, 76, 78);
}

h1, h2, h3 {
  font-family: "Crete Round", serif;
}

a {
  &:hover, &:active, &:visited {
    text-decoration: none;
    color: black;
  }
}

/*  header  */
header {
  position: relative;
  height: 95vh;
  .header-text {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 15%;
    h1 {
      color: white;
      display: block;
      width: 100%;
      font-size: 3em;
      font-weight: bold;
      margin-bottom: 10px;
      @include respond-to(576px) {
        font-size: 2.5em;
      }
    }
    p {
      font-size: 1.5em;
      color: white;
    }
  }
  ul {
    display: flex;
    width: 300px;
    list-style: none;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    @include respond-to(576px) {
      display: none;
    }
    li {
      font-size: 1.3em;
      display: block;
      text-align: right;
      margin-left: 30px;
      height: 1.2em;
      box-sizing: border-box;
      &:first-child:hover {
        border-bottom: 3px solid $orange;
      }
      &:nth-child(2):hover {
        border-bottom: 3px solid $purple;
      }
      &:nth-child(3):hover {
        border-bottom: 3px solid $green;
      }
      &:last-child:hover {
        border-bottom: 3px solid $yellow;
      }
    }
  }
  @include respond-to(576px) {
    width: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
  .logo-img {
    height: 67px;
    width: 140px;
    margin-right: 8px;
    margin-left: 0px;
  }
  &:hover .logo-img {
    transform-origin: 55% 50%;
  }
  h1 {
    font-family: "Crete Round", serif;
    font-size: 1.3em;
    margin-left: 5px;
    z-index: 3;
    letter-spacing: 1.2px;
  }
}

.navbar {
  display: flex;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100px;
  background-color: white;
  align-items: center;
  transition: height 0.8s;
  > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include respond-to(576px) {
    width: 100vw;
  }
}

/*  main  */
main {
  position: relative;
  border-bottom: 1px solid darken(rgb(240, 238, 238), 15%);
}

.bg {
  width: 100%;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include respond-to(576px) {
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.bg-1 {
    opacity: 1;
    background-image: url('../images/header-bg.jpg');
    size: auto;
    height: 80vh;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    top: 85px;
    @include respond-to(576px) {
      height: 75vh;
    }
  }
  &.bg-2 {
    height: 60vh;
    background-image: url('../images/bg-img-3.jpg');
    @include respond-to(576px) {
      height: 180px;
    }
  }
  &.bg-3 {
    height: 60vh;
    background-image: url('../images/bg-img-4.jpg');
    background-size: 100% 110%;
    @include respond-to(576px) {
      height: 180px;
    }
  }
}

.news, .about {
  margin: 20px 0;
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    @include respond-to(992px) {
      display: inline-block;
      width: 70%;
      justify-content: center;
    }
    @include respond-to(768px) {
      width: 70%;
    }
    @include respond-to(576px) {
      width: 70%;
      margin-bottom: 2em;
      font-size: 0.7em;
    }
    h2 {
      font-size: 2em;
      font-style: italic;
      font-weight: bold
    }
  }
  .content-title {
    width: 9%;
    font-size: 3em;
    margin: 30px auto;
    padding-top: 20px;
    @include respond-to(992px) {
      text-align: center;
      width: 100%;
    }
  }
  p {
    line-height: 150%;
    width: 85%;
    font-size: 1.2em;
    @include respond-to(992px) {
      width: 100%;
      text-align: center;
    }
    b {
      font-weight: bolder;
      font-style: italic;
      color: $blue;
    }
  }
  .news-animate {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    position: relative;
    padding: 10px;
    ul {
      display: flex;
      padding: 0;
      list-style-type: none;
      overflow: hidden;
      max-width: inherit;
      li {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .arrow {
      position: absolute;
      display: inline-block;
      top: 50%;
      padding: 20px;
      border: solid #eee;
      border-width: 0 3px 3px 0;
      cursor: pointer;
      -webkit-transition: border-color .3s ease;
      transition: border-color .3s ease;
    }

    .arrow.arrow-left {
      right: 100%;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
    .arrow.arrow-right {
      left: 100%;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .arrow:hover {
      border-color: $yellow;
    }
    @include respond-to(992px) {
      width: 70%;
    }
    @include respond-to(768px) {
      width: 70%;
    }
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.about {
  > h1 {
    width: 600px;
    text-align: center;
    margin: 2em auto;
    font-size: 2.5em;
    @include respond-to(768px) {
      font-size: 2em;
    }
    @include respond-to(576px) {
      width: 100%;
    }
  }
}

.about-block {
  width: 32vw;
  .about-text-container {
    width: 90%;
    margin: 7vh auto;
    height: 10em;
  }
  .about-img-container {
    width: 300px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
  }
  img {
    opacity: 1;
    width: 90%;
  }
  h1 {
    font-size: 1.8em;
    font-family: "Crete Round", serif;
    text-align: center;
    margin-bottom: 5vh;
  }
  p {
    width: 100%;
    color: rgb(135, 135, 135);
    text-align: center;
    margin: 0 auto;
  }
  @include respond-to(992px) {
    margin: 0 auto;
    .about-text-container {
      margin: 3vh auto;
    }
    .about-img-container {
      width: 200px;
      height: 150px;
    }
  }
  @include respond-to(768px) {
    margin: 0 auto;
    .about-text-container {
      width: 100%;
      height: 12em;
      h1 {
        font-size: 1.3em;
      }
      p {
        font-size: 1.1em;
      }
    }
    .about-img-container {
      width: 200px;
      height: 150px;
    }
  }
  @include respond-to(576px) {
    width: 90%;
    margin: 30px auto;
    .about-text-container {
      width: 100%;
      height: 8em;
      h1 {
        font-size: 1.3em;
      }
      p {
        font-size: 1.1em;
      }
    }
    .about-img-container {
      width: 100%;
      height: 150px;
    }
  }
}

.menu {
  width: 80%;
  margin: 50px auto;
  .menu-h1-div {
    margin: 5vh auto;
    text-align: center;
  }
  h1 {
    display: inline;
    font-size: 3em;
  }
  .ui.grid {
    margin: 15px;
    &.item {
      line-height: 1em;
    }
  }
  .menu-display {
    display: block;
  }
  .menu-hidden {
    display: none;
  }
  @include respond-to(768px) {
    width: 90%;
  }
  @include respond-to(576px) {
    width: 100%;
    .ui.pointing.menu {
      display: flex;
      flex-wrap: wrap;
      .item {
        padding: 0.5em;
      }
    }
  }
}

.review-div {
  .review-h1-div {
    margin: 5vh auto;
    text-align: center;
    h1 {
      display: inline;
      font-size: 3em;
      font-style: italic;
      color: #182ca1;
    }
  }
  .description.review-description {
    line-height: 1.5em;
    height: 100px;
    overflow-y: auto;
  }
  @include respond-to(576px) {
    width: 100%;
    .ui.items .item .content .description{
      display: none;
    }
  }
}

.contact {
  position: relative;
  background-color: #e2e2e2;
  margin-bottom: 0;
  padding-top: 20px;
  .contact-title {
    margin-bottom: 20px;
    h1 {
      font-size: 3em;
      text-align: center;
      font-style: italic;
      color: #182ca1;
    }
  }
  .contact-content {
    padding: 20px;
    .contact-info {
      margin: 10px auto;
      h2 {
        font-weight: bolder;
        font-size: 1.9em;
        line-height: 1.7em;
        font-style: italic;
      }
      p {
        width: 100%;
        text-align: left;
      }
      i {
        margin-left: 5px;
      }
      ul li {
        font-size: 1.3em;
        line-height: 1.5em;
      }
    }
  }
  @include respond-to(992px) {
    width: 100%;
  }
  @include respond-to(768px) {
    width: 100%;
  }
  @include respond-to(576px) {
    width: 100%;
  }
}

iframe {
  width: 400px;
  height: 300px;
  @include respond-to(992px) {
    width: 80%;
    height: auto;
  }
  @include respond-to(768px) {
    width: 80%;
    height: auto;
  }
  @include respond-to(576px) {
    width: 80%;
    height: auto;
  }
}

/*  footer  */

.footer {
  background-color: #0f0f10;
  padding-top: 20px;
  .footer-div {
    display: flex;
    justify-content: space-between;
    margin: 20px auto auto 20vw;
    @include respond-to(576px) {
      width: 100%;
      flex-direction: column;
      margin: 20px auto;
    }
  }
  h1 {
    font-style: italic;
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-family: "Crete Round", serif;
  }
  .social {
    margin: 40px auto;
    font-size: 1.4em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    a{
      margin-right: 3px;
      margin-left: 3px;
      &:hover i {
        color: $purple;
      }
    }
  }
  p {
    text-align: center;
    margin: 20px auto;
    color: white;
  }
}