/*  CSS RESET  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

/*  clearfix  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

/*  global  */
@keyframes open {
  0% {
    overflow: hidden;
  }
  100% {
    height: 85vh;
    overflow: visible;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

body {
  border: 10px solid white;
  font-family: "Crete Round", serif;
  color: #494c4e;
}

h1, h2, h3 {
  font-family: "Crete Round", serif;
}

a:hover, a:active, a:visited {
  text-decoration: none;
  color: black;
}

/*  header  */
header {
  position: relative;
  height: 95vh;
}
header .header-text {
  width: 80%;
  position: absolute;
  top: 45%;
  left: 15%;
}
header .header-text h1 {
  color: white;
  display: block;
  width: 100%;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  header .header-text h1 {
    font-size: 2.5em;
  }
}
header .header-text p {
  font-size: 1.5em;
  color: white;
}
header ul {
  display: flex;
  width: 300px;
  list-style: none;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 576px) {
  header ul {
    display: none;
  }
}
header ul li {
  font-size: 1.3em;
  display: block;
  text-align: right;
  margin-left: 30px;
  height: 1.2em;
  box-sizing: border-box;
}
header ul li:first-child:hover {
  border-bottom: 3px solid #ff5300;
}
header ul li:nth-child(2):hover {
  border-bottom: 3px solid #ab3e98;
}
header ul li:nth-child(3):hover {
  border-bottom: 3px solid #2b9c27;
}
header ul li:last-child:hover {
  border-bottom: 3px solid #deba03;
}
@media (max-width: 576px) {
  header {
    width: 100%;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo .logo-img {
  height: 67px;
  width: 140px;
  margin-right: 8px;
  margin-left: 0px;
}
.logo:hover .logo-img {
  transform-origin: 55% 50%;
}
.logo h1 {
  font-family: "Crete Round", serif;
  font-size: 1.3em;
  margin-left: 5px;
  z-index: 3;
  letter-spacing: 1.2px;
}

.navbar {
  display: flex;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100px;
  background-color: white;
  align-items: center;
  transition: height 0.8s;
}
.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .navbar {
    width: 100vw;
  }
}

/*  main  */
main {
  position: relative;
  border-bottom: 1px solid #ccc5c5;
}

.bg {
  width: 100%;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  .bg {
    background-attachment: initial;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.bg.bg-1 {
  opacity: 1;
  background-image: url("../images/header-bg.jpg");
  size: auto;
  height: 80vh;
  background-size: 100% 100%;
  background-position: center center;
  position: absolute;
  top: 85px;
}
@media (max-width: 576px) {
  .bg.bg-1 {
    height: 75vh;
  }
}
.bg.bg-2 {
  height: 60vh;
  background-image: url("../images/bg-img-3.jpg");
}
@media (max-width: 576px) {
  .bg.bg-2 {
    height: 180px;
  }
}
.bg.bg-3 {
  height: 60vh;
  background-image: url("../images/bg-img-4.jpg");
  background-size: 100% 110%;
}
@media (max-width: 576px) {
  .bg.bg-3 {
    height: 180px;
  }
}

.news, .about {
  margin: 20px 0;
}
.news .main-content, .about .main-content {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}
@media (max-width: 992px) {
  .news .main-content, .about .main-content {
    display: inline-block;
    width: 70%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .news .main-content, .about .main-content {
    width: 70%;
  }
}
@media (max-width: 576px) {
  .news .main-content, .about .main-content {
    width: 70%;
    margin-bottom: 2em;
    font-size: 0.7em;
  }
}
.news .main-content h2, .about .main-content h2 {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}
.news .content-title, .about .content-title {
  width: 9%;
  font-size: 3em;
  margin: 30px auto;
  padding-top: 20px;
}
@media (max-width: 992px) {
  .news .content-title, .about .content-title {
    text-align: center;
    width: 100%;
  }
}
.news p, .about p {
  line-height: 150%;
  width: 85%;
  font-size: 1.2em;
}
@media (max-width: 992px) {
  .news p, .about p {
    width: 100%;
    text-align: center;
  }
}
.news p b, .about p b {
  font-weight: bolder;
  font-style: italic;
  color: #182ca1;
}
.news .news-animate, .about .news-animate {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  position: relative;
  padding: 10px;
}
.news .news-animate ul, .about .news-animate ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  max-width: inherit;
}
.news .news-animate ul li, .about .news-animate ul li {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.news .news-animate .arrow, .about .news-animate .arrow {
  position: absolute;
  display: inline-block;
  top: 50%;
  padding: 20px;
  border: solid #eee;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}
.news .news-animate .arrow.arrow-left, .about .news-animate .arrow.arrow-left {
  right: 100%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.news .news-animate .arrow.arrow-right, .about .news-animate .arrow.arrow-right {
  left: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.news .news-animate .arrow:hover, .about .news-animate .arrow:hover {
  border-color: #deba03;
}
@media (max-width: 992px) {
  .news .news-animate, .about .news-animate {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .news .news-animate, .about .news-animate {
    width: 70%;
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.about > h1 {
  width: 600px;
  text-align: center;
  margin: 2em auto;
  font-size: 2.5em;
}
@media (max-width: 768px) {
  .about > h1 {
    font-size: 2em;
  }
}
@media (max-width: 576px) {
  .about > h1 {
    width: 100%;
  }
}

.about-block {
  width: 32vw;
}
.about-block .about-text-container {
  width: 90%;
  margin: 7vh auto;
  height: 10em;
}
.about-block .about-img-container {
  width: 300px;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
}
.about-block img {
  opacity: 1;
  width: 90%;
}
.about-block h1 {
  font-size: 1.8em;
  font-family: "Crete Round", serif;
  text-align: center;
  margin-bottom: 5vh;
}
.about-block p {
  width: 100%;
  color: #878787;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .about-block {
    margin: 0 auto;
  }
  .about-block .about-text-container {
    margin: 3vh auto;
  }
  .about-block .about-img-container {
    width: 200px;
    height: 150px;
  }
}
@media (max-width: 768px) {
  .about-block {
    margin: 0 auto;
  }
  .about-block .about-text-container {
    width: 100%;
    height: 12em;
  }
  .about-block .about-text-container h1 {
    font-size: 1.3em;
  }
  .about-block .about-text-container p {
    font-size: 1.1em;
  }
  .about-block .about-img-container {
    width: 200px;
    height: 150px;
  }
}
@media (max-width: 576px) {
  .about-block {
    width: 90%;
    margin: 30px auto;
  }
  .about-block .about-text-container {
    width: 100%;
    height: 8em;
  }
  .about-block .about-text-container h1 {
    font-size: 1.3em;
  }
  .about-block .about-text-container p {
    font-size: 1.1em;
  }
  .about-block .about-img-container {
    width: 100%;
    height: 150px;
  }
}

.menu {
  width: 80%;
  margin: 50px auto;
}
.menu .menu-h1-div {
  margin: 5vh auto;
  text-align: center;
}
.menu h1 {
  display: inline;
  font-size: 3em;
}
.menu .ui.grid {
  margin: 15px;
}
.menu .ui.grid.item {
  line-height: 1em;
}
.menu .menu-display {
  display: block;
}
.menu .menu-hidden {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    width: 90%;
  }
}
@media (max-width: 576px) {
  .menu {
    width: 100%;
  }
  .menu .ui.pointing.menu {
    display: flex;
    flex-wrap: wrap;
  }
  .menu .ui.pointing.menu .item {
    padding: 0.5em;
  }
}

.review-div .review-h1-div {
  margin: 5vh auto;
  text-align: center;
}
.review-div .review-h1-div h1 {
  display: inline;
  font-size: 3em;
  font-style: italic;
  color: #182ca1;
}
.review-div .description.review-description {
  line-height: 1.5em;
  height: 100px;
  overflow-y: auto;
}
@media (max-width: 576px) {
  .review-div {
    width: 100%;
  }
  .review-div .ui.items .item .content .description {
    display: none;
  }
}

.contact {
  position: relative;
  background-color: #e2e2e2;
  margin-bottom: 0;
  padding-top: 20px;
}
.contact .contact-title {
  margin-bottom: 20px;
}
.contact .contact-title h1 {
  font-size: 3em;
  text-align: center;
  font-style: italic;
  color: #182ca1;
}
.contact .contact-content {
  padding: 20px;
}
.contact .contact-content .contact-info {
  margin: 10px auto;
}
.contact .contact-content .contact-info h2 {
  font-weight: bolder;
  font-size: 1.9em;
  line-height: 1.7em;
  font-style: italic;
}
.contact .contact-content .contact-info p {
  width: 100%;
  text-align: left;
}
.contact .contact-content .contact-info i {
  margin-left: 5px;
}
.contact .contact-content .contact-info ul li {
  font-size: 1.3em;
  line-height: 1.5em;
}
@media (max-width: 992px) {
  .contact {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .contact {
    width: 100%;
  }
}

iframe {
  width: 400px;
  height: 300px;
}
@media (max-width: 992px) {
  iframe {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 768px) {
  iframe {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 576px) {
  iframe {
    width: 80%;
    height: auto;
  }
}

/*  footer  */
.footer {
  background-color: #0f0f10;
  padding-top: 20px;
}
.footer .footer-div {
  display: flex;
  justify-content: space-between;
  margin: 20px auto auto 20vw;
}
@media (max-width: 576px) {
  .footer .footer-div {
    width: 100%;
    flex-direction: column;
    margin: 20px auto;
  }
}
.footer h1 {
  font-style: italic;
  font-size: 1.5em;
  color: white;
  text-align: center;
  font-family: "Crete Round", serif;
}
.footer .social {
  margin: 40px auto;
  font-size: 1.4em;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.footer .social a {
  margin-right: 3px;
  margin-left: 3px;
}
.footer .social a:hover i {
  color: #ab3e98;
}
.footer p {
  text-align: center;
  margin: 20px auto;
  color: white;
}

/*# sourceMappingURL=style.css.map */
